body {
    margin: 0;
    padding: 0;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.dnbtn {
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.dnbtn:hover {
    transform: scale(1.1);
}
